<!DOCTYPE html>
<html>
    
 <head>
    <meta charset="utf-8">
    <title>Travel Blog Finder</title>
    
    <!-- Libraries & Boostrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <!-- Local Files -->
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <script src="javascripts/client.js"></script> 

 </head>
    
 <body>
  
     <div ng-app='tbfApp' ng-controller='tbfCtrl'> <!-- start ng-app div -->
       <h1>Travel Blog Finder</h1>
       
      <p>
       <button type="button" ng-click="refreshBlogData()">Refresh Posts</button>
      </p>
       
     <hr>
     
     <!-- display all blog posts in grid format -->  
     <div class="container text-center"> 
       <ul id="postsGrid" >
           
          <li ng-repeat='post in allBlogPosts'>
            <div class="col-sm-3">
               <img ng-src="{{post.image}}" width="150px"/>
               <span class="postTitle">{{post.title}}</span> <br/> <!-- make this a link to {{post.url}} -->
            </div>
          </li>
          
       </ul>

    </div>
       
       
       
       
       
     </div> <!-- end ng-app div -->
 </body>
 
 
 <!-- URL for this site: http://18.217.48.32:8080/  it's gonna change every time the instance restarts!! --> 
 
 
</html>